@media only screen and (min-width:1px) {
    .aboutme-full{
     width: 100vw;
     overflow-x: hidden;
     display: flex;
     justify-content: center;
     align-items: center;
     padding-top: 30px;
     box-sizing: border-box;
    }
    .about-box{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 20px;
    }
    .about-heading{
        font-size: 25px;
        font-weight: 700;
        text-align: center;
        letter-spacing: 1px;
        box-sizing: border-box;
    }
    .about-txt{
        padding: 0px 10px;
        text-align: center;
        font-size: 14px;
    }
    .about-btn{
        font-size: 14px;
        padding: 0px 13px;
        margin: 15px 0px 30px 0px;
        border: 0.1px solid transparent;
        border-radius: 10px;
        cursor: pointer;
        background-color: rgb(125, 170, 238);
    }
}
@media only screen and (min-width:431px) {
    .about-heading{
        font-size: 25px;
        /* font-size: 36px; */
    }
    .about-txt{
        font-size: 14px;
    }
    .about-btn{
        font-size: 14px;
        padding: 0px 15px;
        margin: 30px 0px 30px 0px;
        border: 1px solid transparent;
    }
}
@media only screen and (min-width:600px) {
    .about-heading{
        font-size: 27px;
    }
    .about-txt{
        font-size: 14px;
        padding: 0px clamp(1.25rem, -4.4033rem + 15.0754vw, 3.125rem);
    }
    .about-btn{
        font-size: 14px;
        padding: 1px 16px;
        margin: 10px 0px 30px 0px;
    }
}
@media only screen and (min-width:800px) {
    .about-heading{
        /* font-size: clamp(2.25rem, 2.25rem + 0vw, 2.25rem); */
        font-size: 29px;
    }
    .about-txt{
        font-size: 14px;
        padding: 0px clamp(3.75rem, -3.7877rem + 15.0754vw, 5.625rem);
    }
    .about-btn{
        font-size: 14px;
        padding: 1px 16px;
        margin: 15px 0px 30px 0px;
    }
    .about-btn:hover{
        background-color: rgb(108, 154, 223);
    }
    .about-btn:active{
        background-color: rgb(125, 170, 238);
    }
}
@media only screen and (min-width:1000px) {
    .about-box{
        width: 80%;
    }
    .about-heading{
        /* font-size: clamp(2.25rem, 2.25rem + 0vw, 2.25rem); */
        font-size: 32px;
    }
    .about-txt{
        font-size: 14px;
        padding: 0px 20px;
    }
    .about-btn{
        font-size: 14px;
    }
}
@media only screen and (min-width:1200px) {
    .about-txt{
        font-size: 15px;
    }
    .about-btn{
        font-size: 15px;
    }
}
@media only screen and (min-width:1400px) {
    .about-heading{
        font-size: 33px;
    }
    .about-txt{
        font-size: 17px;
    }
    .about-btn{
        font-size: 17px;
    }
}